---
layout: default
permalink: /
---
<body>
<div class="home">

  <div class="fpc">
  <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/fpc.jpg/ 
  alt="fpc" title="FpC"> </div>

  <p>Les damos la bienvenida a nuestro sitio. Este es el resultado del trabajo de la primera cursada 
  del seminario de investigación "Clío va al Cine: las películas como vehículos culturales para la
   investigación" que se dictó para la carrera de Historia de la Facultad de Filosofía y Letras de
    la Universidad de Buenos Aires en el primer cuatrimestre de 2021.
</p>

<p>Nuestra propuesta es que sea un espacio colaborativo, que pueda mostrar el trabajo de estudiantes y docentes 
  pero que además sea una herramienta para quienes investigan sobre cuestiones relacionadas a la historia y el cine
   y también para quienes quieran enseñar mediante propuestas fílmicas o simplemente disfruten 
   de sumergirse en estos temas</p>


<h4>Beatriz Valinoti y María Alejandra Sotelo</h4>   

  <h1>¿Cómo navegar en el sitio?</h1>

<h2>Acceder al índice de películas para ver cada una de las fichas:
                   
          <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/_pages/FICHASINDICE/">
          
          <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/indice.jpg/ 
            alt="INDICE" title="Indice"></a>
          </h2>
           
<h2>Buscar por título, dirección, palabras claves y más:
    
      
            <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/_pages/search/">
            
            <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/busqueda.jpg/ 
              alt="buscar" title="buscar"></a>
            </h2>  

<h1>¿Qué encontrar en las fichas?</h1>
   <h2>Además de la ficha técnica, se muestran posters, trailers, artículos relacionados e interpretación histórica de los films</h2>         
         

<h1>¿Cómo participar del proyecto?</h1>
   <h2>Próximamente se abrirá la convocatoria para colaborar con fichas de producción individual o colectiva. Para recibir mas información, pueden escribir a peliculasparaclio@gmail.com</h2>         
             </div>


<footer class="footer">             
<h1>FICHAS PARA CLIO - CONTACTO PELICULASPARACLIO@GMAIL.COM </h1>
  <p> Iconos diseñados por <a href="https://www.flaticon.es/autores/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a> 
  Iconos diseñados por <a href="https://creativemarket.com/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
  Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
  Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></p>
</footer>
        
</body>