---
layout: default
title: Búsqueda
---
<body>
<form id="site_search">
<div class="busquedap"> 
  
  <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/busqueda.jpg/ 
              alt="buscar" title="buscar"></a>
  
<br>
<input id="search" type="text"/></form>


<p>Este es un motor de búsqueda simple. Se mostrarán las fichas que coincidan con las palablas buscadas.</p>
  <p>Sugerimos probar con títulos de películas, nombres propios, temas, etc.</p>
</div>

<div id="results"></div>
<ul id="search_results"></ul>
<script src="{{site.baseurl}}/assets/js/elasticlunr.min.js"></script>
<script src="{{site.baseurl}}/assets/js/search.js"></script>



<footer class="footer"> 

  <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/">
    <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/fpc.jpg/
        alt="fpc" title="FpC"></a>

  <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/_pages/FICHASINDICE/">
    <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/indice.jpg/
        alt="INDICE" title="Indice"></a>


<h1>FICHAS PARA CLIO - CONTACTO PELICULASPARACLIO@GMAIL.COM </h1>
<p> Iconos diseñados por <a href="https://www.flaticon.es/autores/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a> 
Iconos diseñados por <a href="https://creativemarket.com/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></p>
</footer>

</body>