---
layout: post
title: "12 Monos" 
permalink: 12MONOS
---

<body>

   
<div class="autor"> 
    <h1>Autoría y Contacto</h1>
<p>Claudio David Cassano - claudiodavid2406@gmail.com</p>
    </div>


<div class="fichatecnica"> 
   
        <h2>Ficha técnica</h2>
    
             <div class="poster">         
            <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/monos.jpg/ >
       
            
            <div class="trailer"> 
               <p> <a href="https://www.youtube.com/watch?v=15s4Y9ffW_o" target="_blank">
                
                <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/vertrailer.jpg/ 
                 alt="Ver Trailer" title="Ver Trailer"></a> </p>
             </div> 
             
            </div>    
       <h3>Título de la película. (en idioma original)</h3>
            <p>Twelve Monkeys</p>

        <h3>Título de la película. (en español)</h3>
            <p>Doce Monos</p>

        <h3>Año de Estreno</h3>
            <p>1995</p>

        <h3>Dirección</h3>
            <p>Terry Gilliam</p>

        <h3>País de Origen</h3>
            <p>Estados Unidos</p>

        <h3>Productora</h3>
            <p>Universal Studios</p>

        <h3>Guión</h3>
            <p>Adaptación</p>

        <h3>Guionistas</h3>
            <p>David Webb Peoples. Janet  Peoples</p>

        <h3>Adaptado de</h3>
            <p>Film "La Jetée" (1962) de Chris Maker</p>

        <h3>Género Cinematográfico</h3>
            <p>Ciencia Ficción</p>
       
        <h3>Fotografía</h3>
            <p>Roger Pratt </p>

        <h3>Música</h3>
            <p>Paul Buckmaster. Tom Waits. Astor Piazzolla</p>

        <h3>Premios y Nominaciones</h3>
            <p><p>Premios: </p>
            <li>Premio Globo de Oro al Mejor Actor de Reparto (1996) </li>
            <li>Premio Saturn al Mejor Actor de Reparto (1995) </li>
            <li>Saturn Awards for Best Costume Design(1995) </li>
            <li>Blockbuster Entertainment Award Favorite Supporting Actor – Action</li>
            Science Fiction (1997) </li>
            <li>Universe Reader´s Choice Award for Best Supporting Actor in a Genre Motion Picture (1996) </li>
            
            <p>Nominaciones: </p>
            <li>Premio Óscar al Mejor Actor de Reparto (1996) </li>
            <li>Premio Globo de Oro al Mejor Actor de Reparto(1996) </li>
            <li>Premio Óscar al Mejor Diseño de Vestuario (1996) </li>
            <li>Premio de la Academia Japonesa a la Mejor Película Extranjera</li>
            <li>MTV Movie Award a la Mejor Interpretación(1996) </li>
            <li>Premio Hugo a la Mejor Representación  Dramática (1996) </li>
            <li>Saturn Award for Best Costume(1996) </li>
            <li>Czech Lion Cinema Magazine Readers Award (1997). </li>
            </p>
</div>

<div class="fichasinopsis"> 

          <h2>Sinopsis</h2>

        <h3>Argumento</h3>
            <p>James Cole es un presidiario que vive en un futuro Post-apocalíptico ya que un  virus se propagó y mato a más de  5.000.000.000 en el año 1997 causando que la humanidad tenga que vivir bajo tierra. Cole es elegido como sujeto de prueba para viajar en el tiempo ( en una forma algo experimental) hacia el pasado a encontrar pistas y conexiones con el ejercito de los Twelve Monkeys, organización que de la cual se cree que terrorista y como la culpable de haber librado el virus que mato a un 98% de la Humanidad. En este viajé se encontrara que no todo es lo que parece a simple vista.</p>

      <h2>Interés Histórico de la película</h2>
       
        <h3>Político, sociocultural, económico y cinematográfico</h3>
            <p>Al  ser una película de ciencia ficción de género distópico su interés histórico reside  tanto en su contexto de producción como en el mensaje que quiere dar. ¿A qué me refiero? A que en contexto en el cual se produjo (1995) había signos de preocupación sobre ese presente, en el cual, el deterioro del medioambiente producida en su mayor parte por la propia humanidad en su afán de obtener recursos de manera extractiva así como también el avance de la tecnología y en este caso el avance científico con sus experimentación en campos como la virología podría tener una consecuencia muy negativa para el futuro. Entonces en esa proyección negativa de la actualidad son las que  encienden las alarmas con un claro mensaje para la sociedad hacia el presente y por ende hacia el futuro.</p>
        
        <h3>Cronología y hechos históricos de la época que el film presenta.</h3>
            <p>En la película, James Cole vive en el año 2035. En su primer viaje es enviando a 1990 cuando en realidad  octubre 1996 era la fecha correcta de su destino. Luego es enviado al futuro para volver a ser enviado esta vez sí a la fecha correcta. Sin embargo en su viaje para llegar año 1996, aparece en algún momento de la primera guerra mundial donde es herido en la pierna a causa de un disparo. Es vuelto a llevar al futuro y convence a los científicos de que tiene que volver hacia octubre de 1996, momento donde se da el desenlace de su viaje.  Es cuando el protagonista es enviado al pasado donde podemos ver recreación de hechos o momentos histórico de ésa década. El más puntual es la trinchera de la primera guerra pero se pueden mencionar también como en el noventa y sobre todo el presente que muestra la película sobre la desigualdad social representada por tanta gente viviendo en las calles, pobreza, desocupación, creadas por el avance del  Modelo  del Neoliberalismo. </p>         
        
    <h2>Proyección, recepción e impacto</h2>
        <h3>Análisis sociohistórico en función del momento en que fue proyectada, las posibles censuras que sufrió, el número de espectadores que tuvo, etc., y todo ello relacionado a su vez con el contenido de la cinta, sus implicaciones a distintos niveles (políticas, culturales, religiosas por ejemplo), etc. </h3>
            <p>La película fue estrenada de manera limitada en EE.UU en diciembre  de 1995. El 5 de Enero fue su estreno mundial en donde en total recaudó alrededor de 168,84 millones de dólares teniendo un presupuesto de producción de 28,5 millones de dólares. Con respecto a la recepción, ésta fue buena entre el público y la crítica de ese momento también tuvo un balance positivo hacia el film, reflejado en las nominaciones y premios que obtuvo. Las grandes actuaciones de dos estrellas como Bruce Willis y Brad Pitt dieron mucho que hablar y en cuanto a taquilla fue buena para su ajustado presupuesto. El impacto que tuvo a nivel socio-histórico es de mostrar una visión de protesta ante la incapacidad de que en el presente del film se estuviera trabajando realmente desde los gobiernos en cuidar al planeta de nuestra propia actuación sobre la naturaleza y el avance científico con fines no siempre altruistas. Un estudio basado en 45 reseñas  del sitio especializado Rotten Tomatoes demostró que el 87% de la crítica lo califico de 7.2/10. Así mismo otras webs como Filmaffinity le da un puntaje de 7.4 o SensaCine una calificación de buena con 3,5 sobre 5 y el sitio IMDb la puntúa con un 8.0/10. Actualmente ya es considerada una película de culto dentro del género de Ciencia Ficción por lo que su impacto fue cambiando con los años como suele suceder con muchas obras, que tal vez en su presente no hayan sido tan valoradas (aunque en este caso su valoración  fue buena), con los años y la puesta en escena del film hacia nuevas generaciones de espectadores hace que su valor e impacto pueda variar con los años.  </p>

        <h3>Valoración crítica de la película</h3>
            <p>En mi caso fue una película que me marcó mucho en la infancia ya que la vi con tan solo 8 años y la verdad en esa primera mirada de niño hubo muchas cosas que me dejaron pensando. Por eso mismo la quise traer a colación al presente en donde las herramientas intelectuales y cognitivas  así como la experiencia de vida para analizarla son otras. Creo que tiene un punto de vista a nivel histórico e historiográfico que puede coincidir con muchos de los problemas del presente ya que aún seguimos bajo la égida del capitalismo en un nuevo avance neoliberal.</p>

    <h2>Biblio-hemerografía.</h2>
        <h3>Sugerencias bibliográficas</h3>
            <p>
                <li>https://revistas.unc.edu.ar/index.php/CultyLit/article/view/12789/12997 </li>
                <li>http://www.elespectadorimaginario.com/pages/diciembre-2009/investigamos/12-monos.php </li>
                <li>https://www.cinemascomics.com/25-anos-del-estreno-de-12-monos/ </li>
                <li>https://es.wikipedia.org/wiki/Doce_monos </li>
                <li>https://www.filmaffinity.com/ar/film486826.html </li>
                <li>https://www.sensacine.com/peliculas/pelicula-29757/ </li>
                <li>https://www.imdb.com/title/tt0114746/?ref_=fn_al_tt_1</li>

            </p>

        </div> 
            <!--  COLOCAR EL ENLACE A ESTA MISMA PÁGINA. NO MODIFICAR LA IMG  -->

            <div class="arriba"> 
                <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/12MONOS/">
                              
                  <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/ARRIBA.png/ 
                   alt="ARRIBA" title="ARRIBA"></a>
            </div> 


      <!--  NO MODIFICAR -->
   
<footer class="footer">  

        <p> <a href="http://alesotelo.gitlab.io/fichas-para-clio/_pages/FICHASINDICE/">
            <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/indice.jpg/
                alt="INDICE" title="Indice"></a>

        <a href="https://alesotelo.gitlab.io/fichas-para-clio/_pages/search/">
            <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/busqueda.jpg/  
                alt="busqueda" title="Busqueda"></a>
            
        <a href="http://alesotelo.gitlab.io/fichas-para-clio/">
            <img src=http://alesotelo.gitlab.io/fichas-para-clio/assets/imagenes/fpc.jpg/  
                alt="fpc" title="FpC"></a></p>


        <h1>FICHAS PARA CLIO - CONTACTO PELICULASPARACLIO@GMAIL.COM </h1>
            <p> Iconos diseñados por <a href="https://www.flaticon.es/autores/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a> 
            Iconos diseñados por <a href="https://creativemarket.com/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
            Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
            Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></p>
</footer>
        
</body>