---
sitemap: false
---


/*
  Common Variables

  Feel free to change!
*/

/* Fonts */
$main-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$heading-font: sans-serif;
$regular-font-size: 1.25em; /* 20px / 16px = 1.25em; support text resizing in all browsers */


/*
  Color

  Make sure to leave color-scheme in `_config.yml` file empty for granular control
*/

$text-color: #454545;
$heading-color: #404040;
$link-color: #34bd9a;

@import "ed";
@import "syntax";
@import "CETEIcean.css";

.poster img { float: center; width: 50%; margin-bottom: 0; margin-left: 20px; margin-top: 20px; }
.poster p { float: center; width: 50%; margin-bottom: 0; margin-left: 20px; margin-top: 20px; }

.trailer img { float: center; width: 15%; margin-bottom: 0; margin-left: 20px; margin-top: 20px; }


.ficha img { float: right; max-width: 60%; margin-bottom: 0; margin-left: 20px; margin-top: 20px; }
.ficha h2 { font-size: xx-large; font-style: bold; color: #34bd9a; text-decoration: underline; text-align: center; }
.ficha h3 { font-size: x-large; font-style: bold; color:#34bd9a; }

.fichatecnica p { font-size: large; font-style: bold; color: black; text-align: center; }
.fichatecnica img { float: right; max-width: 60%; margin-bottom: 0; margin-left: 20px; margin-top: 20px; }
.fichatecnica h2 { font-size: xx-large; font-style: bold; color: #34bd9a; text-decoration: underline; text-align: center; }
.fichatecnica h3 { font-size: x-large; font-style: bold; color:#34bd9a; }


.fichasinopsis p { font-size: large; font-style: bold; color: black; text-align: justify; }
.fichasinopsis img { float: right; max-width: 60%; margin-bottom: 0; margin-left: 20px; margin-top: 20px; }
.fichasinopsis h2 { font-size: xx-large; font-style: bold; color: #34bd9a; text-decoration: underline; text-align: center; }
.fichasinopsis h3 { font-size: x-large; font-style: bold; color:#34bd9a; }

.autor h1 { font-size: large; font-style: bold; color: black; text-decoration: underline; text-align: center; background-color: hsl(165, 85%, 63%); }
.autor p { font-size: large; font-style: bold; color: black; text-align: center; background-color: hsl(165, 85%, 63%); }

.arriba img { float: right; width: 5%; margin-bottom: 210px; margin-left: 50px; margin-top: 30px; }
.indice img { float: left; width: 10%; margin-bottom: 210px; margin-left: 105px; margin-top: 30px; }
.indicehome img { float: left; width: 10%; margin-bottom: 210px; margin-left: 105px; margin-top: 30px; }
.arribaindice img { float: right; width: 5%; margin-bottom: 210px; margin-left: 105px; margin-top: 30px; }
.creditobusqueda img { float: left; width: 10%; margin-bottom: 210px; margin-left: 105px; margin-top: 30px; }


.search img { float: center; width: 10%; margin-bottom: 0px; margin-right: 0px; margin-top: 100px; margin-left: 150px;}



.home p { font-size: large; font-style: bold; color: black; text-align: justify;  }
.home h1 { font-size: x-large; font-style: bold; color: black; text-decoration: underline; text-align: center; background-color: hsl(165, 85%, 63%); }
.home h2 { font-size: large; font-style: bold; color: black; text-align: justify;  }
.home h3 { font-size: x-large; font-style: bold; color:#34bd9a; }
.home h4 { font-size: large; font-style: bold; color: black; text-align: right;  }
.home img { float: center; max-width: 10%; margin-bottom: 0; margin-left: 320px; margin-top: 0px; }

.fpc img { float: center; max-width: 70%; margin-bottom: 0; margin-left: 300px; margin-top: 0px; }

.indiceficha img { float: center; max-width: 30%; margin-bottom: 0; margin-left: 230px; margin-top: 0px; }
.indiceficha h2 { font-size: xx-large; font-style: bold; color: #34bd9a; text-decoration: underline; text-align: center; }
.indiceficha h3 { font-size: x-large; font-style: bold; color:#34bd9a; }

.busquedap img { float: center; max-width: 25%; margin-bottom: 0; margin-left: 280px; margin-top: 0px; }
.busquedap h2 { font-size: xx-large; font-style: bold; color: #34bd9a; text-decoration: underline; text-align: center; }
.busquedap h3 { font-size: x-large; font-style: bold; color:#34bd9a; }

.busquedap form { size: large ; align-items: center;}

.footer p { font-size: xx-small; font-style: bold; margin-left: auto; margin-right: auto; color: grey; text-align: center;  margin-top: 0% }
.footer H1 { font-size: x-small; font-style: bold; color: rgb(59, 55, 55); margin-left: auto; margin-right: auto;text-align: center ;  margin-top: 0%}
.footer img { width: 200px; height: 200px; margin-bottom: 0;  margin-left: auto; margin-right: auto; margin-top: 0px; }

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: calc(100% - 4rem);
}
.footer {
  height: 4rem;

}